logs
dumps
v4_*_embeddings.pkl
.vscode
__pycache__
Formalization/.lake
slurm-*
slurm_output/*
mypackage.egg-info/*
.vscode/*
slurm_output/
Formalization/ConstructiveBench*
Formalization/Temp*
Formalization/test*
Temp/*
imosolver/
*.pyc
data/dataset/formal*
data/dataset/informal*
data/dataset/raw*
test.py
sh/
output/test
